.container {
    margin: 100px 0px;
}

.container .game-text{
    text-align: center;
}

.button-container {
    padding:20px 20px;
    
    display: flex;

    justify-content:center;
    
}
.choice {
    margin: 10px;
    padding: 5px 10px;
}